<h1> </h1>
<h1 align="center"><span style="font-weight:bold;">Listing all articles</span></h1>
<div align="center"> <%= will_paginate %> </div>
<%= render 'article', obj: @articles %>
<div align="center"> <%= will_paginate %> </div>
