<html lang="en-US">
<head>
    <title>3 Boys Group</title>
  <meta charset=UTF-8">
  <style>
  img {
   width:100%;
  }
  table, th, td {
    border: 1px solid black;
    <!-- border-collapse: collapse; -->
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  tr {
    background-color: black;
    color: white;
  }
  </style>
</head>

  <hr>
  <h1 style="font-size:30px;text-align:center">3 Boys Group</h1>
  <h2 style="font-size:20px;text-align:center">This is a Home Page</h2>
  <hr>

  <%= image_tag 'mainimage.jpg' %>

<%= link_to 'About 3 Boys Group', about_path %>

<table style="width:100%>"
  <tr>
    <th>Feature</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>1st feature</td>
    <td>Description of the 1st feature</td>
  </tr>
  <tr>
    <td>2nd feature</td>
    <td>Description of the 2nd feature</td>
  </tr>
  <tr>
    <td>3rd feature</td>
    <td>Description of the 3rd feature</td>
  </tr>
  <tr>
    <td>4th feature</td>
    <td>Description of the 4th feature</td>
  </tr>

</body>
</html>
