<html lang="en-US">
<head>
  <title>3 Boys Group</title>
  <meta charset=UTF-8">
  <style>
  img {
   width:100%;
  }
  table, th, td {
    border: 1px solid black;
    <!-- border-collapse: collapse; -->
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  tr {
    background-color: black;
    color: white;
  }
  </style>
</head>
<div class="center jumbotron"
  <hr>
  <h1>3BC Company</h1>

  <%= link_to "Sign up now", "#", class: "btn btn-danger btn-xlarge" %>
</div>
</html>
